.app-card {
    @apply bg-white rounded-lg border border-secondary-100 p-3;
    border-color: var(--color-secondary-100)
}


.f-shortcut-button {
    @apply flex items-center text-sm font-semibold gap-2 py-2 rounded-lg;

    &.active {
        @apply text-primary;
    }
}

.visualizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
}
