.app-tab-link {
    @apply px-3 py-3 border-b-2 border-transparent box-border inline-block font-semibold;
}

.app-tab-link.active {
    @apply border-primary text-primary;
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 28px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .toggle-switch-label {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 20px;

    }

    .toggle-switch-label:after {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 10px;

    }

    input:checked+.toggle-switch-label {
        background-color: var(--color-primary);
    }

    input:focus+.toggle-switch-label {
        box-shadow: 0 0 1px var(--color-primary);
    }

    input:checked+.toggle-switch-label:after {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(90%);
    }
}

.flatpickr-input {
    @apply h-12 rounded-lg bg-gray-100 px-3 w-full;
}

.app-dropdown-select-handle {
    @apply flex items-center justify-between h-12 rounded-lg bg-gray-100 px-3 w-full;

    * {
        pointer-events: none;
    }
}

.app-dropdown-select-menu {
    @apply bg-white inset-0 rounded-xl overflow-hidden shadow-xl z-50 overflow-y-auto h-fit absolute;

    .filter-container {}

    .items-container {
        @apply max-h-[200px] overflow-y-auto h-fit;
    }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.dropdown-trans-enter-active,
.dropdown-trans-leave-active {
    transition: all 0.1s ease;
}

.dropdown-trans-enter-from,
.dropdown-trans-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}