@use "./variables.scss" as *;
@use "./buttons.scss" as *;
@use "./cards.scss" as *;
@use "./forms.scss" as *;
@use "./inputs.scss" as *;
@use "./plugins.scss" as *;
@import url('https://fonts.bunny.net/css?family=nunito:400,500,600,700,800,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--bg-color);
    --p-tooltip-padding: 2px 5px;
    --p-tooltip-background: #00000097;
    --p-tooltip-text-color: var(--text-color);
    --p-tooltip-border-radius: 5px;
    --p-select-overlay-border-radius: 10px;
    --p-list-option-border-radius: 10px;
    --p-select-option-border-radius: 8px;
    --p-select-option-padding: 5px 8px;
    --p-select-overlay-shadow: 0px 11px 16px 0px rgb(0 0 0 / 9%);
}


.side-bar-left-enter-active {
    transition: all 0.2s ease-out;
}

.side-bar-left-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.side-bar-left-enter-from,
.side-bar-left-leave-to {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.2s ease-out;
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}
