@use "./main.css" as *;
@use "./variables.scss" as *;
@use "./buttons.scss" as *;
@use "./cards.scss" as *;
@use "./forms.scss" as *;
@use "./inputs.scss" as *;
@use "./plugins.scss" as *;
@use "./modules.scss" as *;
@import url('https://fonts.bunny.net/css?family=nunito:400,500,600,700,800,900&display=swap');

body {
    background-color: var(--bg-color);
    --p-tooltip-padding: 2px 5px;
    --p-tooltip-background: #00000097;
    --p-tooltip-text-color: var(--text-color);
    --p-tooltip-border-radius: 5px;
    --p-select-overlay-border-radius: 10px;
    --p-list-option-border-radius: 7px;
    --p-select-option-border-radius: 7px;
    --p-select-option-padding: 5px 8px;
    --p-select-overlay-shadow: 0px 11px 16px 0px rgb(0 0 0 / 9%);
    --p-multiselect-overlay-border-radius: var(--p-select-overlay-border-radius);
    --p-multiselect-option-border-radius: var(--p-select-option-border-radius);
    --p-multiselect-padding: var(--p-select-option-padding);
    --p-multiselect-option-padding: 5px 7px;
    --p-multiselect-list-header-padding: 10px 10px;
    --p-multiselect-overlay-shadow: var(--p-select-overlay-shadow);
    --p-select-border-color: #eeeeee;
    --p-select-shadow: 0;
    --p-multiselect-shadow: 0;
    --p-multiselect-border-color: var(--p-select-border-color);
    --p-popover-content-padding: 0px;
    --p-popover-border-radius: 10px;
    --p-popover-shadow: 0px 11px 16px 0px rgb(0 0 0 / 9%);
    // --p-navigation-item-focus-background: var(--color-primary)
    --p-content-border-radius: var(--p-select-overlay-border-radius);
    --p-navigation-item-border-radius: var(--p-list-option-border-radius);
    --btn-primary-light-background: color-mix(in srgb, var(--color-primary) 10%, transparent);
    --btn-primary-light-background-hover: color-mix(in srgb, var(--color-primary) 20%, transparent);
    --btn-primary-light-text-color: var(--color-primary);
}

button {
    outline: none;
    cursor: pointer;
}

.p-select,
.p-multiselect {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;

    &:hover {
        border-color: var(--color-primary) !important;
    }
}

.p-multiselect-label-container {
    margin-right: 15px !important;
}

.p-select-overlay,
.p-multiselect-overlay {
    .p-inputtext {
        border-radius: var(--p-multiselect-option-border-radius);
        padding: var(--p-multiselect-padding);
        border: 1px solid var(--p-multiselect-border-color);

        &:hover {
            border-color: var(--color-primary) !important;
        }
    }
}

.side-bar-left-enter-active {
    transition: all 0.2s ease-out;
}

.side-bar-left-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.side-bar-left-enter-from,
.side-bar-left-leave-to {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.2s ease-out;
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}